.App {
  display: flex;

  height: 90vh;
  margin-left: 10px;

  margin-top: 10px;
}
:root {
  --primary: rgb(255, 255, 255);
  --secondary: #f5f8fc;
  --textPrimary: black;
  --textSecondary: #3f5975;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: #3f5975;
}
