.userprofile {
  width: 20%;
  height: 100%;
  margin: 2vh 0;
  margin-left: 2vw;
}
.userprofile_metrics {
  height: fit-content;
  margin: 3vh 0;
  padding: 8px 10px;
  width: 80%;
  background-color: var(--secondary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.userprofile_metrics__row1 {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1vh;
}
.userprofile_metrics__time {
  padding: 1vh 1vw;
  height: 2vh 2vw;
  width: 40%;
  background-color: rgb(217, 228, 253);
  color: rgb(15, 75, 255);
  border-radius: 10px;
}
.userprofile_metrics__attended {
  padding: 1vh 1vw;
  height: 2vh 2vw;
  width: 40%;
  background-color: rgb(217, 228, 253);
  color: rgb(15, 75, 255);
  border-radius: 10px;
}
.userprofile_clients {
  height: 25vh;
  margin: 3vh 0;
  padding: 8px 10px;
  width: 80%;
  background-color: var(--secondary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.userprofile_clients__button {
  padding: 10px 10px;
  border: none;
  outline: none;
  background-color: #0f4cff;
  color: white;
  border-radius: 5px;
  width: 40%;
  cursor: pointer;
}
